<li class="list-group-item">
    <span class="badge alert-{{alertType}}">{{status}}</span>
    <span
        data-toggle="tooltip"
        class="{{color}} piece {{type}} tiny"
        title="{{player}}'s {{color}} {{type}}"
    />
    {{move}}
</li>